header {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;

}


h2 {
    border: solid;
  border-width: 1px;
  border-color: black;
  width: 100%;
  text-align: center;
  margin-right: 0.2%;
  margin-left: 0.2%;
}

.nav {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  display: flex;
  margin-right: 2%;
  }

  li {
    list-style: none;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

  .content{
    border: solid;
    border-width: 1px;
    border-color: black;
    flex-direction: row;
    width: 100%;
    display: flex;
}

  .aside {
    flex-direction: column;
    width: 20%;
    border: solid;
    border-width: 1px;
    border-color: black;
  }

  .slidebox{
    border: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
   
  }

  .article{
    flex-direction: row;
    display: flex;
    width: 80%;
    border: solid;
    border-width: 1px;
    border-color: black;
    
  }


.poem{
  border: solid;
    border-width: 1px;
    width: 100%;
    border-color: black;
}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {
    .article {
      width: 80%;

  } 
header{
  display: none;
}
}

/*  Small devices    */
@media (max-width:599px) {

header,.content{
  display: none;
}

.nav {
  flex-direction: column;

  }


.nav > li {
    list-style: none;
    margin-top: 4%;
    margin-bottom: 4%;
    justify-content: space-evenly;
    display: flex;
    border: solid;
    border-width: 1px;
    border-color: grey;
}


}
